@page "/rename"
@inject IConfiguration Configuration
@inject AppConfig AppConfig
@using System.ComponentModel.DataAnnotations;

<PageTitle>Rename</PageTitle>

<h1>Rename</h1>
<hr>


<EditForm OnValidSubmit="@Submit"Model="@Model">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @if (AppConfig != null)
    {
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="SelectedConfigKey">Predefined rename config:</label>
            <div class="col-sm-8">
                <InputSelect class="form-select" id="SelectedConfigKey" Value="@SelectedConfigKey" ValueExpression="@(()=>SelectedConfigKey)" ValueChanged="@((string value) => OnConfigChanged(value))">
                    <option value="">Default config...</option>
                    @foreach (var item in AppConfig.RenameConfigs)
                    {
                        <option value="@item.Key">@item.Key</option>
                    }
                </InputSelect>
            </div>
        </div>
        <hr>
    }
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="FileFilter">File filter:</label>
        <div class="col-sm-8">
            <InputText class="form-control" id="FileFilter" @bind-Value="@Model.RenameConfig.FileFilter" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="FilenamePattern">Filename pattern:</label>
        <div class="col-sm-8">
            <InputText class="form-control" id="FilenamePattern" @bind-Value="@Model.RenameConfig.FilenamePattern" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="FilenameCase">Filename case:</label>
        <div class="col-sm-8">
            <InputSelect class="form-select" id="FilenameCase" @bind-Value="@Model.RenameConfig.FilenameCase">
                @foreach (var item in Enum.GetValues(typeof(CharacterCasing)))
                {
                    <option value="@item">@item</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="ExtensionCase">Extension case:</label>
        <div class="col-sm-8">
            <InputSelect class="form-select" id="ExtensionCase" @bind-Value="@Model.RenameConfig.ExtensionCase">
                @foreach (var item in Enum.GetValues(typeof(CharacterCasing)))
                {
                    <option value="@item">@item</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="AdditionalFiles">Additional files:</label>
        <div class="col-sm-8">
            <InputCheckbox class="form-check-input" id="AdditionalFiles" @bind-Value="@Model.RenameConfig.AdditionalFiles" />
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="Folder"><strong>Folder:</strong></label>
        <div class="col-sm-8">
            <div class="input-group mb-3">
                <InputText class="form-control" id="Folder" @bind-Value="@Model.Folder" /> <button class="btn btn-outline-secondary" type="button" @onclick="@SelectFolder">...</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="Recursive">Recursive:</label>
        <div class="col-sm-8">
            <InputCheckbox class="form-check-input" id="Recursive" @bind-Value="@Model.RenameConfig.Recursive" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="StopOnError">Stop on error:</label>
        <div class="col-sm-8">
            <InputCheckbox class="form-check-input" id="StopOnError" @bind-Value="@Model.RenameConfig.StopOnError" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="Verbose">Verbose output:</label>
        <div class="col-sm-8">
            <InputCheckbox class="form-check-input" id="Verbose" @bind-Value="@Model.Verbose" />
        </div>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Rename</button>
</EditForm>
<br>
<p>@Message</p>
<br>
<br>


@code {

    public string? SelectedConfigKey { get; set; }

    private class ModelClass
    {

        public RenameConfig RenameConfig { get; set; } = new RenameConfig();

        public bool Verbose { get; set; } = false;

        [Required]
        public string? Folder { get; set; }

    }

    private ModelClass Model { get; set; } = new ModelClass();

    public string? Message { get; set; }

    protected override void OnInitialized()
    {

    }

    private void OnConfigChanged(string key)
    {
        SelectedConfigKey = key;

        if (string.IsNullOrWhiteSpace(key))
            Model.RenameConfig = new RenameConfig();
        else if (AppConfig != null)
        {
            Model.RenameConfig = AppConfig.RenameConfigs.Where(d => string.Equals(d.Key, key, StringComparison.OrdinalIgnoreCase)).FirstOrDefault().Value.Clone();
            if (Model.RenameConfig == null) { Model.RenameConfig = new RenameConfig(); }
        }
    }

    private void SelectFolder()
    {
        Message = "SelectFolder...";
    }

    private void Submit()
    {
        Message = "Submit...";
    }
}
