@page
@model FDR.Web.Pages.OutputModel
@{
    ViewData["Title"] = "Output";
}
<h1>@ViewData["Title"]</h1>
<hr>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Processes[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processes[0].StartedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Processes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartedAt)
                </td>
                <td>
                    @*
                    <a asp-page="./Edit" asp-route-Id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    *@
                </td>
            </tr>
        }
    </tbody>
</table>
