@page "{handler?}"
@model FDR.Web.Pages.OutputModel
@{
    ViewData["Title"] = "Output";
    int i = 0;
}
<h1>@ViewData["Title"]</h1>
<hr>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Processes[0].StartedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processes[0].PID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processes[0].Operation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Processes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operation)
                </td>
                <td>
                    <form asp-page-handler="Cancel" method="post">
                        <button class="btn btn-outline-secondary">Cancel</button>
                        <input type="hidden" name="index" value="@i" />
                    </form>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<br>
<div>
    <textarea asp-for="Output" class="form-control form-text" readonly></textarea>
</div>
