@page "{handler?}"
@model FDR.Web.Pages.RenameModel
@{
    ViewData["Title"] = "Rename";
}
<h1>@ViewData["Title"]</h1>
<hr>

<form method="post">
    <div>
        <div asp-validation-summary="All" class="text-danger col-sm-12"></div>
        @if (Model.AppConfig?.RenameConfigs != null)
        {
            <div class="row mb-3">
                <label asp-for="ConfigKey" class="col-sm-3 col-form-label">Predefined rename config</label>
                <div class="col-sm-9">
                    <select asp-for="ConfigKey" class="form-select" onchange="location = '?config=' + this.value;">
                        <option value="">Default config...|</option>
                        @foreach (var kvp in Model.AppConfig!.RenameConfigs!)
                        {
                            <option value="@kvp.Key">@kvp.Key|@kvp.Value.FilenamePattern</option>
                        }
                    </select>
                </div>
            </div>
            <hr>
        }
        <div class="row mb-3">
            <label asp-for="RenameConfig.FileFilter" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="RenameConfig.FileFilter" class="form-control" data-bs-toggle="tooltip" data-bs-title="@RenameConfig.GetRenameConfigAttributeList()[nameof(RenameConfig.FileFilter)]">
            </div>
        </div>
        <div class="row mb-3">
            <partial name="/Pages/Shared/FilenamePattern/_FilenamePatternEditor.cshtml" model='"RenameConfig_FilenamePattern"' />
            <label asp-for="RenameConfig.FilenamePattern" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input asp-for="RenameConfig.FilenamePattern" class="form-control" data-bs-toggle="tooltip" data-bs-title="@RenameConfig.GetRenameConfigAttributeList()[nameof(RenameConfig.FilenamePattern)]">
                    <button id="SelectFilenamePattern" type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#RenameConfig_FilenamePatternFilenamePatternPopup" onclick="RenameConfig_FilenamePatternSelectFilenamePatternClick();"><span class="fa fa-pen"></span></button>
                    @* <button id="FilenamePatternInfo" type="button" class="btn btn-outline-primary" data-bs-toggle="popover" title="Filename pattern placeholders" data-bs-placement="bottom" data-bs-html="true"><span class="fa fa-info"></span></button> *@
                </div>
                <div style="display: none;">
                    <div id="FilenamePatternInfoDiv">
                        <dl>
                            @foreach (var d in Rename.GetRenamePlaceholderList())
                            {
                                <dt>@d.Key <button for="RenameConfig_FilenamePattern" data="@d.Key" type="button" class="btn insert" style="float: right;" title="Insert..."><span class="fa fa-plus"></span></button></dt>
                                <dd>@d.Value</dd>
                            }
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="RenameConfig.FilenameCase" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <select asp-for="RenameConfig.FilenameCase" asp-items="Html.GetEnumSelectList<CharacterCasing>()" class="form-select" data-bs-toggle="tooltip" data-bs-title="@RenameConfig.GetRenameConfigAttributeList()[nameof(RenameConfig.FilenameCase)]"></select>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="RenameConfig.ExtensionCase" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <select asp-for="RenameConfig.ExtensionCase" asp-items="Html.GetEnumSelectList<CharacterCasing>()" class="form-select" data-bs-toggle="tooltip" data-bs-title="@RenameConfig.GetRenameConfigAttributeList()[nameof(RenameConfig.ExtensionCase)]"></select>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="RenameConfig.AdditionalFiles" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="RenameConfig.AdditionalFiles" class="form-check-input va-mid" data-bs-toggle="tooltip" data-bs-title="@RenameConfig.GetRenameConfigAttributeList()[nameof(RenameConfig.AdditionalFiles)]">
            </div>
        </div>
        <hr>
        <div class="row mb-3">
            <partial name="/Pages/Shared/Folder/_FolderPopup.cshtml" model='"Folder"' />
            <label asp-for="Folder" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input asp-for="Folder" class="form-control">
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#FolderFolderPopup" onclick="FolderSelectFolderClick();"><span class="fa fa-ellipsis"></span></button>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="RenameConfig.Recursive" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="RenameConfig.Recursive" class="form-check-input va-mid" data-bs-toggle="tooltip" data-bs-title="@RenameConfig.GetRenameConfigAttributeList()[nameof(RenameConfig.Recursive)]">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="RenameConfig.StopOnError" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="RenameConfig.StopOnError" class="form-check-input va-mid" data-bs-toggle="tooltip" data-bs-title="@RenameConfig.GetRenameConfigAttributeList()[nameof(RenameConfig.StopOnError)]">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Verbose" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="Verbose" class="form-check-input va-mid" data-bs-toggle="tooltip" data-bs-title="@Common.GetProgramParameterList()[Common.param_verbose]">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-9 offset-sm-3">
                <button type="submit" class="btn btn-primary"><span class="fa fa-tag"></span> @ViewData["Title"]</button><br>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <partial name="_PopoverScriptsPartial" />
    <partial name="_Select2TwoColumnScriptsPartial" model='"#ConfigKey"' />
    @* <partial name="_Select2TwoColumnScriptsPartial" model='"#FilenamePatternMacro"' /> *@
    <partial name="_Select2TwoColumnScriptsPartial" model='"#RenameConfig_FilenamePatternFilenamePatternMacro"' />
    <partial name="_InsertButtonScriptsPartial" />
}
