@page
@model FDR.Web.Pages.RenameModel
@{
    ViewData["Title"] = "Rename";
}
<h1>@ViewData["Title"]</h1>
<hr>

@if (false && HttpMethods.IsPost(Request.Method))
{
    <p>
        @* Selected config: @Html.DisplayFor(m => m.ConfigKey)<br> *@
        File filter: @Html.DisplayFor(m => m.RenameConfig.FileFilter)<br>
        Filename pattern: @Html.DisplayFor(m => m.RenameConfig.FilenamePattern)<br>
        Filename case: @Html.DisplayFor(m => m.RenameConfig.FilenameCase, Html.GetEnumSelectList<CharacterCasing>())<br>
        Extension case: @Html.DisplayFor(m => m.RenameConfig.ExtensionCase, Html.GetEnumSelectList<CharacterCasing>())<br>
        Additional files: @Html.DisplayFor(m => m.RenameConfig.AdditionalFiles)<br>
        Recursive: @Html.DisplayFor(m => m.RenameConfig.Recursive)<br>
        Stop on error: @Html.DisplayFor(m => m.RenameConfig.StopOnError)<br>
        <hr>
        Verbose output: @Html.DisplayFor(m => m.Verbose)<br>
        Folder: @Html.DisplayFor(m => m.Folder)<br>
        <hr>
        @* Html.TextAreaFor(m => m.Output)<br> *@
    </p>
}
else
{
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div>
            <div asp-validation-summary="All" class="text-danger col-sm-8"></div>
            @if (Model.AppConfig?.RenameConfigs != null)
            {
                <div class="row mb-3">
                    <label asp-for="ConfigKey" class="col-sm-3 col-form-label">Predefined rename config</label>
                    <div class="col-sm-8">
                        <select asp-for="ConfigKey" asp-items="@(Model.AppConfig?.RenameConfigs?.Select(d => new SelectListItem(d.Key, d.Key)))" class="form-select" onchange="location = '?config=' + this.value;">
                            <option value="">Default config...</option>
                        </select>
                    </div>
                </div>
                <hr>
            }
            <div class="row mb-3">
                <label asp-for="RenameConfig.FileFilter" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="RenameConfig.FileFilter" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="RenameConfig.FilenamePattern" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="RenameConfig.FilenamePattern" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="RenameConfig.FilenameCase" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8">
                    <select asp-for="RenameConfig.FilenameCase" asp-items="Html.GetEnumSelectList<CharacterCasing>()" class="form-select"></select>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="RenameConfig.ExtensionCase" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8">
                    <select asp-for="RenameConfig.ExtensionCase" asp-items="Html.GetEnumSelectList<CharacterCasing>()" class="form-select"></select>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="RenameConfig.AdditionalFiles" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="RenameConfig.AdditionalFiles" class="form-check-input va-mid">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-8">
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <label asp-for="Folder" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <input asp-for="Folder" class="form-control">
                        <button class="btn btn-outline-secondary" type="button" asp-page-handler="SelectFolder">...</button>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="RenameConfig.Recursive" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="RenameConfig.Recursive" class="form-check-input va-mid">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="RenameConfig.StopOnError" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="RenameConfig.StopOnError" class="form-check-input va-mid">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Verbose" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Verbose" class="form-check-input va-mid">
                </div>
            </div>
            <input type="submit" value="Rename" class="btn btn-primary"><br>
        </div>
    }
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
