@page
@model FDR.Web.Pages.ResizeModel
@{
    ViewData["Title"] = "Resize";
}
<h1>@ViewData["Title"]</h1>
<hr>

<form method="post">
    <div>
        <div asp-validation-summary="All" class="text-danger col-sm-12"></div>
        @if (Model.AppConfig?.ResizeConfigs != null)
        {
            <div class="row mb-3">
                <label asp-for="ConfigKey" class="col-sm-3 col-form-label">Predefined resize config</label>
                <div class="col-sm-9">
                    <select asp-for="ConfigKey" class="form-select" onchange="location = '?config=' + this.value;">
                        <option value="">Default config...|</option>
                        @foreach (var kvp in Model.AppConfig!.ResizeConfigs!)
                        {
                            <option value="@kvp.Key">@kvp.Key|(@kvp.Value.ResizeMethod.GetDisplayName() @kvp.Value.MaxWidth x @kvp.Value.MaxHeight)</option>
                        }
                    </select>
                </div>
            </div>
            <hr>
        }
        <div class="row mb-3">
            <label asp-for="ResizeConfig.FileFilter" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="ResizeConfig.FileFilter" class="form-control" data-bs-toggle="tooltip" data-bs-title="@ResizeConfig.GetResizeConfigAttributeList()[nameof(ResizeConfig.FileFilter)]">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="ResizeConfig.ResizeMethod" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <select asp-for="ResizeConfig.ResizeMethod" asp-items="Html.GetEnumSelectList<ResizeMethod>()" class="form-select" data-bs-toggle="tooltip" data-bs-title="@ResizeConfig.GetResizeConfigAttributeList()[nameof(ResizeConfig.ResizeMethod)]"></select>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="ResizeConfig.MaxWidth" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="ResizeConfig.MaxWidth" class="form-control" data-bs-toggle="tooltip" data-bs-title="@ResizeConfig.GetResizeConfigAttributeList()[nameof(ResizeConfig.MaxWidth)]">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="ResizeConfig.MaxHeight" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="ResizeConfig.MaxHeight" class="form-control" data-bs-toggle="tooltip" data-bs-title="@ResizeConfig.GetResizeConfigAttributeList()[nameof(ResizeConfig.MaxHeight)]">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="ResizeConfig.JpgQuality" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="ResizeConfig.JpgQuality" class="form-control" data-bs-toggle="tooltip" data-bs-title="@ResizeConfig.GetResizeConfigAttributeList()[nameof(ResizeConfig.JpgQuality)]">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="ResizeConfig.ClearMetadata" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="ResizeConfig.ClearMetadata" class="form-check-input va-mid" data-bs-toggle="tooltip" data-bs-title="@ResizeConfig.GetResizeConfigAttributeList()[nameof(ResizeConfig.ClearMetadata)]">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="ResizeConfig.FilenamePattern" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input asp-for="ResizeConfig.FilenamePattern" class="form-control" data-bs-toggle="tooltip" data-bs-title="@ResizeConfig.GetResizeConfigAttributeList()[nameof(ResizeConfig.FilenamePattern)]">
                    @* <button type="button" class="btn btn-outline-secondary" data-bs-toggle="popover" title="Editor" data-bs-placement="bottom" data-bs-trigger="focus" data-bs-content="This is the editor popover..." id="FilenamePatternEditor"><span class="fa fa-pen"></span></button> *@
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="popover" title="Filename pattern placeholders" data-bs-placement="bottom" data-bs-html="true" id="FilenamePatternInfo"><span class="fa fa-info"></span></button>
                </div>
                <div style="display: none;">
                    <div id="FilenamePatternInfoDiv">
                        <dl>
                            @foreach (var d in Rename.GetRenamePlaceholderList())
                            {
                                <dt>@d.Key <button for="ResizeConfig_FilenamePattern" data="@d.Key" type="button" class="btn insert" style="float: right;" title="Insert..."><span class="fa fa-plus"></span></button></dt>
                                <dd>@d.Value</dd>
                            }
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="ResizeConfig.FilenameCase" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <select asp-for="ResizeConfig.FilenameCase" asp-items="Html.GetEnumSelectList<CharacterCasing>()" class="form-select" data-bs-toggle="tooltip" data-bs-title="@ResizeConfig.GetResizeConfigAttributeList()[nameof(ResizeConfig.FilenameCase)]"></select>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="ResizeConfig.ExtensionCase" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <select asp-for="ResizeConfig.ExtensionCase" asp-items="Html.GetEnumSelectList<CharacterCasing>()" class="form-select" data-bs-toggle="tooltip" data-bs-title="@ResizeConfig.GetResizeConfigAttributeList()[nameof(ResizeConfig.ExtensionCase)]"></select>
            </div>
        </div>
        <hr>
        <div class="row mb-3">
            <label asp-for="Folder" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input asp-for="Folder" class="form-control">
                    <button id="SelectFolder" type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#FolderPopup"><span class="fa fa-ellipsis"></span></button>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="ResizeConfig.Recursive" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="ResizeConfig.Recursive" class="form-check-input va-mid" data-bs-toggle="tooltip" data-bs-title="@ResizeConfig.GetResizeConfigAttributeList()[nameof(ResizeConfig.Recursive)]">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="ResizeConfig.StopOnError" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="ResizeConfig.StopOnError" class="form-check-input va-mid" data-bs-toggle="tooltip" data-bs-title="@ResizeConfig.GetResizeConfigAttributeList()[nameof(ResizeConfig.StopOnError)]">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Verbose" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="Verbose" class="form-check-input va-mid" data-bs-toggle="tooltip" data-bs-title="@Common.GetProgramParameterList()[Common.param_verbose]">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-9 offset-sm-3">
                <button type="submit" class="btn btn-primary"><span class="fa fa-up-right-and-down-left-from-center"></span> @ViewData["Title"]</button><br>
            </div>
        </div>
    </div>
</form>

<partial name="_FolderPopup" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <partial name="_SelectFolderScriptsPartial" />
    <partial name="_PopoverScriptsPartial" />
    <partial name="_Select2TwoColumnScriptsPartial" model='"#ConfigKey"' />
    <partial name="_InsertButtonScriptsPartial" />
}
